.container{
    height: 100vh;
}
.box{
    border-style:solid;
    border-color: rgb(51, 50, 50);
    padding: 20px;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
}

.product-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 50, 50);
    color: white;
    padding: 5px;
    border-radius: 5px;
}



/*******************    Tables ***************/
table{
    table-layout: fixed;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th{
    text-align: center;
    background-color: rgb(75, 69, 69);
    color: white;
}
td{
    text-align: center;
}


